<!doctype html>
<html lang="en">

<head>
    <title>Oces</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

</head>


<body>


    <div class="col" style="padding-top: 30px">
        <div class="col" style="padding-top: 30px">
            <img src="{{ url_for( 'static', filename='img/LogoBeta.png' ) }}" alt="laboratoriosbeta.com">
        </div>

        <nav class="navbar navbar-expand navbar-light bg-light">
            <div class="nav navbar-nav" style="margin:auto;">
                <a class="nav-item nav-link active" href="/sup/inicio">Inicio</a>
                <a class="nav-item nav-link" href="/sup/pedidos">Pedidos</a>
                <a class="nav-item nav-link" href="/sup/ofertas/">Gestionar pedido</a>
                <a class="nav-item nav-link" href="/sup/clientes/">Clientes</a>
                <a class="nav-item nav-link" href="/" onclick="return salirSession()">Cerrar sesión</a>

            </div>
            <script>
                function salirSession() {
                    sessionStorage.clear()
                    document.cookie = "session=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                }
            </script>
        </nav>

        <div class="container">