{% include 'sup/cabecera.html' %}
<input type="text" id="hashUsuarioO" hidden>
<script>
    var hashUsuario = sessionStorage.getItem("hash");
    console.log(hashUsuario);
    document.getElementById("hashUsuarioO").value = hashUsuario;

    if (!(hashUsuario)) {
        window.location.href = "/";
    }

</script>
{% with messages= get_flashed_messages() %}

{% if messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <strong>¡Cuidado!</strong> {% for message in messages %}{{ message }}{% endfor %}
</div>
{% endif %}
{% endwith %}

<div class="card-body">
    <div class="card border-info">
        <div class="card-header">
            <h4>Informacion del pedido:</h4>
            <h6>Usuario: {% if usuario %} {{usuario[-5:]}} {% endif %}</h6>
            <h6>Código droguería: {% if drogueria %} {{drogueria}} {% endif %}</h6>
            <h6>Código cliente: {% if cliente %} {{cliente}} {% endif %}</h6>

        </div>
        {% for salida in salidas %}{% for i in sumaMod %}

        <div class="card-body" style="padding: 16px 0px ;">


            <table id="tblContact" class="table table-sm table-hover table-bordered">
                <thead>
                    <tr>
                        <th style="text-align: left;" scope="col" class="table-primary">{{salida[1][0][2]}}</th>
                        <th style="text-align: left;" scope="col" class="table-primary"></th>
                        <th style="text-align: left;" scope="col" class="table-primary"></th>
                        <th style="text-align: left;" scope="col" class="table-primary"></th>
                        <th style="text-align: left;" scope="col" class="table-primary">Can. mínima
                            {{salida[1][0][7]}}</th>
                    </tr>
                </thead>
                <tbody id="">
                    <!--<table id="tblContact" class="table table-sm">-->
                    <thead>
                        <tr>
                            <th style="text-align: center;" scope="col" class="table-info">
                                Producto</th>
                            <th style="text-align: center;" scope="col" class="table-info">
                                Código</th>
                            <th style="text-align: center;" scope="col" class="table-info">
                                Cantidad mínima</th>
                            <th style="text-align: center;" scope="col" class="table-info">
                                Descuento</th>
                            <th style="text-align: center;" scope="col" class="table-info">
                                Unidades</th>
                        </tr>
                    </thead>
                <tbody id="">
                    {% for i in salida[1] %}

                    <tr>
                        <td style="text-align: center;" scope="col" class="table-light">
                            {{i[10]}}
                        </td>
                        <td style="text-align: center;" scope="col" class="table-light">
                            {{i[9]}}
                        </td>
                        <td style="text-align: center;" scope="col" class="table-light">
                            {{i[13]}}
                        </td>
                        <td style="text-align: center;" scope="col" class="table-light">
                            {{i[14]}}%
                        </td>
                        <td style="text-align: center;" scope="col" class="table-light">
                            {% for i in salidas %}
                            <input type="number" style="width:40px;" id="{{i[0]}}" min="{{i[13]}}"
                                onchange="{{ sumaMod }}{{i[0]}}(this.valor)">
                            {% endfor %}
                        </td>
                    </tr>

                    {% endfor %}

                    <tr>
                        <td style="text-align: center;" scope="col" class="table-secondary">

                        </td>
                        <td style="text-align: center;" scope="col" class="table-secondary">

                        </td>
                        <td style="text-align: center;" scope="col" class="table-secondary">

                        </td>
                        <td style="text-align: center;" scope="col" class="table-secondary">

                        </td>
                        <td style="text-align: center;" scope="col" class="table-secondary">
                            <script type="text/javascript">
                                /* Funcion suma. */
                                function { { sumaMod[0] } } (valor) {

                                    var TotalSuma = 0;

                                    // Convertir a numero entero (número).
                                    TotalSuma = document.getElementById('{{salidas[0][0]}}').value;

                                    // Valida y pone en cero "0".
                                    TotalSuma = (TotalSuma == null || TotalSuma == undefined || TotalSuma == "") ? 0 : TotalSuma;
                                    /* Variable genrando la suma. */
                                    TotalSuma = (parseInt(TotalSuma) + parseInt(valor));
                                    // Escribir el resultado en una etiqueta "span".
                                    document.getElementById('{{salidas[0][0]}}').value = TotalSuma;
                                }
                            </script>
                            Total:<input type="text" min="{{salida[1][0][7]}}" style="width:100px;"
                                id="{{salidas[0][0]}}" disabled>

                        </td>
                    </tr>
                </tbody>
            </table>

            {% if ancho %}
            <input type="number" value="{{ancho}}" id="ancho" hidden>
            {% endif %}
            {% if modulosT %}
            <input type="number" value="{{modulosT}}" id="modulosT" hidden>
            {% endif %}

        </div>


        {% endfor %}
        {% endfor %}
        <div class="card-footer text-muted">
            <div class="card-footer text-muted" align="center">
                <button class="btn btn-success btn-md" type="submit" style="margin:auto ;">Enviar
                    pedido</button>
            </div>
        </div>
    </div>
</div>

{% include 'sup/pie.html' %}