{% include 'sup/cabecera.html' %}
<br>
<div class="card-body" style="min-height: 500px;">
	<div class="card border-info">
		<div class="card-header">
			<h4>Clientes:</h4>
		</div>
		<div class="card-body">
			<form action="/sup/clientes/guardar" method="post" enctype="multipart/form-data">
				<table id="tblContact" class="table table-sm">
					<thead>
						<tr>
							<th style="text-align: center;" scope="col" class="table-info">Droguería</th>
							<th style="text-align: center;" scope="col" class="table-info">Cuenta</th>
							<th style="text-align: center;" scope="col" class="table-info">Nombre</th>
							<th style="text-align: center;" scope="col" class="table-info">CUIT</th>
							<th style="text-align: center;" scope="col" class="table-info">Localidad</th>
							<th style="text-align: center;" scope="col" class="table-info">Cód. Postal</th>
							<th style="text-align: center;" scope="col" class="table-info">Acciones</th>
						</tr>
					</thead>
					<tbody id="rowsClientes">
						<tr>
							<td id="c_drogueria">
								<select class="form-select form-select-sm" aria-label="" name="txtDrogueria">
									<option selected>Seleccione</option>
									{% for drogueria in droguerias %}
									<option
										value="{{drogueria[0]}}#{{drogueria[1]}}#{{drogueria[2]}}">
										{{drogueria[1]}}>{{drogueria[2]}}
									</option>
									{% endfor %}
								</select>
								</td>
							<td id=""><input type="number" class="form-control form-control-sm" name="txtCuenta"
									id="" aria-describedby="helpId" placeholder=""></td>
							<td id=""><input type="text" class="form-control form-control-sm" name="txtNombre"
									id="#" aria-describedby="helpId" placeholder=""></td>
							<td id=""><input type="text" class="form-control form-control-sm" name="txtCuit" id="#"
									aria-describedby="helpId" placeholder=""></td>
							<td id=""><input type="text" class="form-control form-control-sm"
									name="txtLocalidad" id="#" aria-describedby="" placeholder=""></td>
							<td id=""><input type="text" class="form-control form-control-sm" name="txtPostal"
									id="#" aria-describedby="helpId" placeholder=""></td>
							<td id="acciones">
								<div class="d-grid gap-2 col-6 mx-auto">
									<button type="submit" class="btn btn-dark btn-sm">Agregar</button>
								</div>
							</td>
						</tr>
					</tbody>
					<tbody id="rowsClientes">
						{% for cliente in clientes %}
						<tr>
							<!--<th scope="row">0</th>-->
							<td id="c_cod" align="center">{{cliente[3]}}</td>
							<td id="c_cuenta" align="center">{{cliente[4]}}</td>
							<td id="c_nombre" align="center">{{cliente[5]}}</td>
							<td id="c_cuit" align="center">{{cliente[6]}}</td>
							<td id="c_localidad" align="center">{{cliente[7]}}</td>
							<td id="c_postal" align="center">{{cliente[8]}}</td>

							<td id="acciones" align="center">

								<div class="row">
									<div class="col-6">
										<a class="btn btn-info btn-sm" href="/sup/editarCliente/{{cliente[0]}}"
											role="button" style="display:center;">Editar</a>
									</div>
									<div class="col-6">
										<a class="btn btn-danger btn-sm" href="/sup/clientes/borrar/{{cliente[0]}}"
											role="button" style="display:center;">Borrar</a>
									</div>
								</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</form>
		</div>
		<div class="card-footer text-muted">
		</div>


{% include 'sup/pie.html' %}