{% include 'sup/cabecera.html' %}
<input type="text" id="hashUsuarioO" hidden>
<script>
    var hashUsuario = sessionStorage.getItem("hash");
    console.log(hashUsuario);
    document.getElementById("hashUsuarioO").value = hashUsuario;

    if (!(hashUsuario)) {
        window.location.href = "/";
    }

</script>
{% with messages= get_flashed_messages() %}

{% if messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <strong>¡Cuidado!</strong> {% for message in messages %}{{ message }}{% endfor %}
</div>
{% endif %}
{% endwith %}

<div class="card-body">
    <div class="card border-info">
        <div class="card-header">
            <h4>Informacion del pedido:</h4>
        </div>
        <div class="card-body" style="margin-left: 0%;">

            <table id="tblContact" class="table table-sm">
                <thead>
                    <tr>

                        <th style="text-align: center;" scope="col" class="table-info">Mód. Nombre</th>
                        <th style="text-align: center;" scope="col" class="table-info">Cód.</th>
                        <th style="text-align: center;" scope="col" class="table-info">Descripción</th>
                        <th style="text-align: center;" scope="col" class="table-info">Mínimo</th>
                        <th style="text-align: center;" scope="col" class="table-info">Descuento</th>
                        <th style="text-align: center;" scope="col" class="table-info">Unidades</th>

                    </tr>

                </thead>

                <tbody id="">
                    {% for oferta in ofertas %}
                    <tr>

                        <td id="" align="left">{{oferta[2]}}</td>
                        <td id="" align="left">{{oferta[8]}}</td>
                        <td id="" align="left">{{oferta[9]}}</td>
                        <td id="" align="center">{{oferta[12]}}</td>
                        <td id="" align="center">{{oferta[13]}}%</td>
                        <td id="" align="center"><input type="text" name="" value="" style="width:40px;">
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <div class="card-footer text-muted">

        </div>
    </div>
</div>
</div>
{% include 'sup/pie.html' %}