{% include 'sup/cabecera.html' %}
<input type="text" id="hashUsuarioO" name="hashUsuarioO" hidden>
<script>
    var hashUsuario = sessionStorage.getItem("hash");
    console.log(hashUsuario);
    document.getElementById("hashUsuarioO").value = hashUsuario;

    if (!(hashUsuario)) {
        window.location.href = "/";
    }

</script>

{% with messages= get_flashed_messages() %}

{% if messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <strong>¡Cuidado!</strong> {% for message in messages %}{{ message }}{% endfor %}
</div>
{% endif %}
{% endwith %}

<div class="card-body">
    <div class="card border-info">
        <div class="card-body" style="margin-left: 0%;">


            <table id="tblPedidos" class="table table-sm table-hover table-bordered">

                <tbody id="">

                    <thead>
                        <tr>
                            <th style="text-align: center;" scope="col" class="table-info">
                                Pedido nº</th>
                            <th style="text-align: center;" scope="col" class="table-info">
                                Usuario</th>
                            <th style="text-align: center;" scope="col" class="table-info">
                                Drogueria</th>
                            <th style="text-align: center;" scope="col" class="table-info">
                                Cliente</th>
                            <th style="text-align: center;" scope="col" class="table-info">
                                Pedido</th>
                            <th style="text-align: center;" scope="col" class="table-info">
                                Fecha/Hora</th>
                            <th style="text-align: center;" scope="col" class="table-info">
                                Aprobado</th>
                        </tr>
                    </thead>
                <tbody id="">
                    {% for i in lospedidos %}

                    <tr>
                        <td style="text-align: center;" scope="col" class="table-light">
                            <h5>{{i[0]}}</h5>
                        </td>
                        <td style="text-align: center;" scope="col" class="table-light">
                            {{i[1]}}
                        </td>
                        <td style="text-align: center;" scope="col" class="table-light">
                            {{i[2]}}
                        </td>
                        <td style="text-align: center;" scope="col" class="table-light">
                            {{i[3]}}
                        </td>
                        <td style="text-align: center;" scope="col" class="table-light">
                            <input type="text" value="{{i[4]}}" id="{{i[0]}}" hidden>
                            <ul id="lista{{i[0]}}">
                            </ul>
                        </td>
                        <td style="text-align: center;" scope="col" class="table-light">
                            {{i[5]}}
                        </td>
                        <td style="text-align: center;" scope="col" class="table-light">
                            {{i[6]}}
                        </td>
                    </tr>

                    {% endfor %}

                </tbody>
            </table>

        </div>
    </div>

</div>
</div>
<script>
    var myTable = document.querySelector("#myTable");
    var dataTable = new DataTable(myTable);


    const listaPedidos = document.getElementsByTagName("h5");
    //console.log(listaPedidos[0].textContent);
    //console.log(listaPedidos.length);
    for (i = 0; i < listaPedidos.length; i++) {
        let pedido = listaPedidos[i].textContent;
        const listaProductosa = document.getElementById(pedido).value;
        const p = JSON.parse(listaProductosa);
        ancho = p.length;
        //console.log(ancho);
        total = 0;

        for (x = 0; x < ancho; x++) {
            // Create an "li" node:
            const node = document.createElement("li");


            // Create a text node:
            const textnode = document.createTextNode(p[x][10] + " " + p[x][17] + "u.");




            // Append the text node to the "li" node:
            if (p[x][17] != 0) {

                node.appendChild(textnode);
                nombreL = "lista" + pedido;
                // Append the "li" node to the list:
                document.getElementById(nombreL).appendChild(node);
            }
        }
    }

</script>

{% include 'sup/pie.html' %}