@font-face {
  font-family: "FontAwesome";
  src: url("fontawesome-webfont.woff");
}

p {
  font-size: 200%;
}

 .fa-times-circle::before {
  font-family: "FontAwesome", sans-serif;
  content: "\f057";
}

 .fa-check-circle::before {
  font-family: "FontAwesome", sans-serif;
  content: "\f058";
}