<!doctype html>
<html lang="en">
  <head>
    <title>CBZ</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"  integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

  </head>
  <body>
    <nav class="navbar navbar-expand navbar-light bg-light">
        <div class="nav navbar-nav">
            <a class="nav-item nav-link active" href="/admin/loguin">Inicio</a>
            <a class="nav-item nav-link" href="/pedidos">Pedidos</a>
            <a class="nav-item nav-link" href="/clientes">Clientes</a>
            <a class="nav-item nav-link" href="/productos">Productos</a>
            <a class="nav-item nav-link" href="/droguerias">Droguerias</a>
            <a class="nav-item nav-link" href="/usuarios">Usuarios</a>
            <a class="nav-item nav-link" href="/modulos">Módulos</a>

        </div>
    </nav>
    <div class="container">
        <br/>