{% include 'admin/cabecera.html' %}
<input type="text" id="hashUsuarioO" hidden>
<script>
    var hashUsuario = sessionStorage.getItem("hash");
    console.log(hashUsuario);
    document.getElementById("hashUsuarioO").value = hashUsuario;

    if (!(hashUsuario)) {
        window.location.href = "/";
    }

</script>
{% with messages= get_flashed_messages() %}

{% if messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    <strong>¡Cuidado!</strong> {% for message in messages %}{{ message }}{% endfor %}
</div>
{% endif %}
{% endwith %}

<div class="card-body">
    <div class="card border-info">
        <div class="card-body" style="margin-left: 0%;">
            <table id="myTable" class="table-light">
                <thead>
                    <tr class="table-light">
                        <th scope="col" style="text-align:center;">Pedido nº</th>
                        <th scope="col" style="text-align:center;">Usuario</th>
                        <th scope="col" style="text-align:center;">Cod.Drog</th>
                        <th scope="col" style="text-align:center;">Drogueria</th>
                        <th scope="col" style="text-align:center;"></th>
                        <th scope="col" style="text-align:center;">Cod.Cli.</th>
                        <th scope="col" style="text-align:center;">Cliente.</th>
                        <th scope="col" style="text-align:center;">Unidades</th>
                        <th scope="col" style="text-align:center;">Fecha</th>
                        <th scope="col" style="text-align:center;">Aprobado</th>
                        <th scope="col" style="text-align:center;">Acciones</th>
                    </tr>
                </thead>
                {% for i in lospedidos %}
                <tr class="table-light">

                    <td style="text-align: center;" scope="col" class="table-light">
                        <h5>{{i[0]}}</h5>
                    </td>
                    <td style="text-align: center;" scope="col" class="table-light">

                        <h6>{{i[1]}}</h6>
                    </td>
                    <td style="text-align: center;" scope="col" class="table-light">

                        <h6>{{i[2]}}</h6>
                    </td>
                    <td style="text-align: center;" scope="col" class="table-light">

                        <h6>{{i[8]}}</h6>
                    </td>
                    <td style="text-align: center;" scope="col" class="table-light">
                        <a class="btn btn-primary btn-sm"
                            href="javascript:finestraSecundaria('/admin/pedidorealizado/{{i[0]}}')">
                            <h6>ver</h6>
                        </a>
                    </td>
                    <td style="text-align: center;" scope="col" class="table-light">
                        <h6>{{i[3]}}</h6>
                    </td>
                    <td style="text-align: center;" scope="col" class="table-light">

                        <h6>{{i[9]}}</h6>
                    </td>
                    <td style="text-align: center;" scope="col" class="table-light">

                        <h6>{{i[7]}}</h6>
                        <!--<input type="text" value="{{i[4]}}" id="{{i[0]}}" hidden>
                        <ul id="lista{{i[0]}}">
                        </ul>-->
                    </td>
                    <td style="text-align: center;" scope="col" class="table-light">

                        <h6>{{i[5]}}</h6>
                    </td>
                    <td style="text-align: center;" scope="col" class="table-light">

                        <h6>{{i[6]}}</h6>
                    </td>
                    <td id="acciones" align="center">
                        <div class="row">
                            <a class="btn btn-info btn-sm" href="#">Aprobar</a>
                        </div>
                        <div class="row">
                            <a class="btn btn-secondary btn-sm" href="#">Rechazar</a>
                        </div>



                    </td>

                </tr>{% endfor %}
            </table>

        </div>

    </div>
</div>
<script>
    function finestraSecundaria(url) {
        let params = `scrollbars=no,resizable=no,status=no,location=no,toolbar=no,menubar=no,
width=800,height=700,left=-1000,top=-1000`;
        window.open(url, "Diseño Web", params)
    }
</script>

{% include 'admin/pie.html' %}