<div class="card border-info">
    <form action="/admin/pedidosf" method="post" enctype="multipart/form-data">
        <div class="card-body">
            <div class="row">

                <div class="col-6" style="padding-top: 25px;padding-left: 50px;">
                    <h2>Pedidos:</h2>
                </div>
                <div class="col-2">
                    <label for="desde">Desde:</label>
                    <input type="date" class="form-control" name="pedidosDesde" id="#" aria-describedby="helpId">
                </div>
                <div class="col-2">
                    <label for="desde">Hasta:</label>
                    <input type="date" class="form-control" name="pedidosHasta" id="#" aria-describedby="helpId">
                </div>
                <div class="col-2" style="padding-top: 25px;">
                    <button class="btn btn-success btn-md" type="submit" style="margin:auto ;">Aplicar</button>
                </div>

            </div>
        </div>
    </form>
</div>