{% include 'admin/cabecera.html' %}

		<br>
		
					
			<div class="card-body" style="min-height: 300px;">
				
					<div class="card">
						<div class="card-header">
							<h4>Pedidos</h4>
						</div>
						<div class="card-body">
						  <form action="/admin/pedidos/guardar" method="post" enctype="multipart/form-data">
							<table id="tblContact" class="table table-sm">
								<thead>
									<tr>
									<!--<th scope="col" class="table-info">#</th>-->
										<th style="text-align: center;" scope="col" class="table-info">Drogueria</th>
										<th style="text-align: center;" scope="col" class="table-info">Nro. Cuenta</th>
										<th style="text-align: center;" scope="col" class="table-info">Nombre</th>
										<th style="text-align: center;" scope="col" class="table-info">Cuit</th>
										<th style="text-align: center;" scope="col" class="table-info">Domicilio</th>
										<th style="text-align: center;" scope="col" class="table-info">Localidad</th>
										<th style="text-align: center;" scope="col" class="table-info">Cód. Postal</th>
										<th style="text-align: center;" scope="col" class="table-info">Acciones</th>
									</tr>
								</thead>
								<tbody id="rowsPedidos">
									
									<tr>
										<td id= "pe_drogueria" name="pe_drogueria">
											
											<select class="form-select" aria-label="Default select example">
												<option selected>Droguerias</option>
												{% for drogueria in droguerias %}
												<option value="{{drogueria[2]}}">{{drogueria[2]}}</option>
												{% endfor %}
											</select>
											
										</td>
										<td id= "pe_cuenta" ><input type="text" class="form-control" name="pe_cod" id="#" aria-describedby="helpId" placeholder=""></td>
										<td id= "pe_nombre" ><input type="text" class="form-control" name="pe_cod" id="#" aria-describedby="helpId" placeholder=""></td>
										<td id= "pe_cuit" ><input type="text" class="form-control" name="pe_cod" id="#" aria-describedby="helpId" placeholder=""></td>
										<td id= "pe_domicilio" ><input type="text" class="form-control" name="pe_cod" id="#" aria-describedby="helpId" placeholder=""></td>
										<td id= "pe_localidades" ><input type="text" class="form-control" name="pe_cod" id="#" aria-describedby="helpId" placeholder=""></td>
										<td id= "pe_postal" ><input type="text" class="form-control" name="pe_cod" id="#" aria-describedby="helpId" placeholder=""></td>
										
										<td id= "acciones" >
											<div class="d-grid gap-2 col-6 mx-auto">
												<button type="submit" class="btn btn-dark">Agregar</button>
											</div>
										</td>
									</tr>
									
								</tbody>
								<tbody id="rowsPedidos">
									{% for pedido in pedidos %}
									<tr>
									<!--<th scope="row">0</th>-->
										
										
										<td id= "pe_cod" align="center">{{pedido[1]}}</td>
										<td id= "pe_descripcion" align="center">{{pedido[2]}}</td>
										
										<td id= "acciones" align="center">
											
											<div class="row">
												<div class="col-6">
													<form action="/admin/pedidos/editar" method="post">
														<button type="" class="btn btn-info btn-sm">Editar</button>
													</form>
												</div>
												<div class="col-6">
													<form action="/admin/pedidos/borrar" method="post">
													<input value="{{pedido[0]}}" type="text" name="txtID" id="txtID" hidden>
														<button type="submit" class="btn btn-danger btn-sm">Borrar</button>
													</form>
												</div>
											</div>
										</td>
									</tr>
									{% endfor %}
								</tbody>
							</table>
							<!-- -------------------------------------------------------------->
							
		
						  </form>
		
						</div>
						<div class="card-footer text-muted">
							
						</div>
					</div>
				
				</div>
			
			
		

{% include 'admin/pie.html' %}