{% include 'admin/cabecera.html' %}

{% with messages= get_flashed_messages() %}

{% if messages %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
	<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	<strong>¡Cuidado!</strong> {% for message in messages %}{{ message }}{% endfor %}
</div>
{% endif %}
{% endwith %}
<br>



<div class="card-body" style="min-height: 500px;">
	<div class="card border-info">
		<div class="card-header">
			<h4>Usuarios:</h4>
		</div>
		<div class="card-body">
			<form action="/admin/usuarios/guardar" method="post" enctype="multipart/form-data">
				<table id="tblContact" class="table table-sm">
					<thead>
						<tr>
							<!--<th scope="col" class="table-info">#</th>-->

							<th style="text-align: center;" scope="col" class="table-info">Nombre</th>
							<th style="text-align: center;" scope="col" class="table-info">Apellido</th>
							<th style="text-align: center;" scope="col" class="table-info">Rrdzz</th>
							<th style="text-align: center;" scope="col" class="table-info">E-mail</th>
							<th style="text-align: center;" scope="col" class="table-info">Desde</th>
							<th style="text-align: center;" scope="col" class="table-info">Hasta</th>
							<th style="text-align: center;" scope="col" class="table-info">Contraseña</th>
							<th style="text-align: center;" scope="col" class="table-info">Acciones</th>
						</tr>
					</thead>
					<tbody id="rowsUsuarios">

						<tr>
							<!--<th scope="row">0</th>-->

							<td id="u_nombre"><input type="text" class="form-control" name="txtNombre" id="#"
									aria-describedby="helpId" placeholder=""></td>
							<td id="u_apellido"><input type="text" class="form-control" name="txtApellido" id="#"
									aria-describedby="helpId" placeholder=""></td>
							<td id="u_rrdzz"><input type="text" class="form-control" name="txtRrdzz" id="#"
									aria-describedby="helpId" placeholder="" required></td>
							<td id="u_mail"><input type="email" class="form-control" name="txtMail" id="#"
									aria-describedby="helpId" placeholder="" required></td>
							<td id="u_fecha_i"><input type="date" class="form-control" name="txtDesde" id="#"
									aria-describedby="helpId" placeholder="" required></td>
							<td id="u_fecha_f"><input type="date" class="form-control" name="txtHasta" id="#"
									aria-describedby="helpId" placeholder="" required></td>
							<td id="u_pass"><input type="password" class="form-control" name="txtPass" id="#"
									aria-describedby="helpId" placeholder="" required></td>
							<td id="acciones">
								<div class="d-grid gap-2 col-6 mx-auto">
									<button type="submit" class="btn btn-dark">Agregar</button>
								</div>
							</td>
						</tr>

					</tbody>
					<tbody id="rowsUsuarios">
						{% for usuario in usuarios %}
						<tr>
							<!--<th scope="row">0</th>-->

							<td id="u_nombre" align="center">{{usuario[1]}}</td>
							<td id="u_apellido" align="center">{{usuario[2]}}</td>
							<td id="u_rrdzz" align="center">{{usuario[3]}}</td>
							<td id="u_mail" align="center">{{usuario[4]}}</td>
							<td id="u_fecha_i" align="center">{{usuario[5]}}</td>

							<td id="u_fecha_f" align="center">{{usuario[6]}}</td>
							<td id="u_pass"><input type="password" class="form-control" name="txtPass"
									value="{{usuario[7]}}" aria-describedby="helpId" placeholder="" disabled></td>
							<td id="acciones" align="center">

								<div class="row">
									<div class="col-6">
										<a class="btn btn-info btn-sm" href="/admin/editarUsuarios/{{usuario[0]}}"
											role="button" style="display:center;">Editar</a>
									</div>
									<div class="col-6">
										<a class="btn btn-danger btn-sm" href="/admin/usuarios/borrar/{{usuario[0]}}"
											role="button" style="display:center;">Borrar</a>
									</div>
								</div>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>

			</form>

		</div>
		<div class="card-footer text-muted">

		</div>

	</div>
</div>





{% include 'admin/pie.html' %}